In [14]:
listnumber=[1,2,3,4,5,6,7,8,9,10]

for number in listnumber:
    print(number)
    if (number % 2 == 0):
        print("genap")
    else:
        print("ganjil")
print("selesai")

1
ganjil
2
genap
3
ganjil
4
genap
5
ganjil
6
genap
7
ganjil
8
genap
9
ganjil
10
genap
selesai

In [19]:
import numpy as np

A = np.random.normal(25,20,10)
print(A)

[ 36.67801739  10.97388058  66.94589095  60.97788148  23.87892075
 -27.32690213  27.60798302  44.00461465  55.38833341  31.42947185]

In [20]:
x = [1,2,3,4,5,6]

In [21]:
x[:3]

[1, 2, 3]

In [22]:
x[3:]

[4, 5, 6]

In [23]:
x.extend([7,8])

In [25]:
x

[1, 2, 3, 4, 5, 6, 7, 8]

In [26]:
x.append(9)

In [27]:
x

[1, 2, 3, 4, 5, 6, 7, 8, 9]

In [29]:
y=[10,11,12]
listdarilist =[x,y]
listdarilist

[[1, 2, 3, 4, 5, 6, 7, 8, 9], [10, 11, 12]]

In [30]:
y[1]

11

In [31]:
x[4]

5

In [33]:
x.sort()
x

[1, 2, 3, 4, 5, 6, 7, 8, 9]

In [34]:
z = [5,1,7,2,5,7,2,9,3,6,2,35,25]

In [35]:
z.sort()
z

[1, 2, 2, 2, 3, 5, 5, 6, 7, 7, 9, 25, 35]

In [38]:
z.sort(reverse=True)
z

[35, 25, 9, 7, 7, 6, 5, 5, 3, 2, 2, 2, 1]

In [39]:
x=(1,2,3)
len(x)

3

In [41]:
y=(3,4,5)
y[2]

5

In [42]:
listdarituple = [x,y]
listdarituple

[(1, 2, 3), (3, 4, 5)]

In [43]:
(umur,gaji) = (25,10000)

In [46]:
x=(umur,gaji)
x

(25, 10000)

In [52]:
(umur,gaji) = "23,10000".split(',')
print(umur)
print(gaji)

23
10000

In [59]:
kapten = {}
kapten["kapal"] = "Boeing"
kapten["negara"] = "Aussie"
kapten["warna kapal"] = "Putih"
kapten["Panjang kapal"] = '1500'

In [54]:
print(kapten["negara"])

Aussie

In [55]:
print(kapten["Panjang kapal"])

1500

In [60]:
for ship in kapten:
    print(ship + ':' + kapten[ship])

kapal:Boeing
negara:Aussie
warna kapal:Putih
Panjang kapal:1500

In [61]:
def pangkat(x):
    return x*x

print(pangkat(2))

4

In [62]:
def yoman(f,x):
    return f(x)

print(yoman(pangkat,3))

9

In [67]:
print(yoman(lambda x: x+x*x, 3))

12